/* Global styles */
body {
    font-family: 'Poppins', sans-serif; /* New font family */
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Quotes container */
.quote-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.quote-scroll {
    overflow: hidden;
}

.quote {
    margin: 5px 0;
    font-size: 20px; /* Increased font size for quotes */
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: scrollText 10s linear infinite;
    display: inline-block;
}

/* Note container */
.note-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notes {
    margin-top: 20px;
}

.note {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.note textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    resize: none;
}

.tool {
    position: absolute;
    top: 5px;
    right: 5px;
}

#addBtn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#addBtn:hover {
    background-color: #0056b3;
}

/* Animation for breaking news effect */
@keyframes scrollText {
    0% {
        transform: translateX(100%);
        
    }
    10% {
        transform: translateX(100%);
       
    }
    100% {
        transform: translateX(-100%);
       
    }
}
