/* style.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Quotes container */


.quote {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: scrollText 20s linear infinite;
}

/* Note container */
#main {
    margin-top: 60px; /* Adjust according to the height of the quotes container */
    padding: 20px;
}

.note {
    margin-bottom: 20px;
}
#addBtn{
   background-color: #ff0000;
}

/* Animation for breaking news effect */
@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
